@import 'reset';

//header

.header__container {
  width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header__heading {
    font-size: 3rem;
    color: rgb(109, 109, 198);
    cursor: pointer;
  }
  .header__logo {
    width: 0;
    height: 0;
    border: 50px solid rgb(188, 216, 223);

    position: relative;
    z-index: 1;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 50px solid rgb(188, 216, 223);
      position: absolute;
      transform: rotate(45deg);
      content: '';
      z-index: 1;
      top: -50px;
      left: -50px;
    }
    .logo_text {
      position: relative;
      top: -10px;
      left: -15px;
      z-index: 999;
    }
  }
}

//main
.main__container {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  .main__block {
    display: flex;
    background-color: rgb(229, 184, 231);
    .main__content {
      padding: 10px 0;
      display: none;
    }
    .active {
      width: 100%;
      display: block;
    }

    .nav__list {
      background-color: rgb(188, 216, 223);
      .nav__item {
        padding: 20px 50px 20px 10px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        color: black;
        opacity: 1;
      }
      li:not(.active) {
        cursor: pointer;
      }
      li:not(.active):hover {
        background: rgb(227, 160, 230);
        border-color: rgb(227, 160, 230);
      }
      .active {
        background: rgb(229, 184, 231);
        color: #000;
        border-color: rgb(229, 184, 231);
        border-right: 0;
      }
      .nav__item .active:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        height: 5px;
        background: rgb(188, 216, 223);
      }
    }
  }
  .main__subblock {
    background-color: rgb(188, 216, 223);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .main__subblock--spec {
    background-color: rgb(229, 184, 231);
    // border-left: 1px solid black;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    align-items: flex-start;
  }
  .footer__info {
    font-size: 0.75rem;
    color: grey;
    padding-top: 50px;
    padding-bottom: 10px;
  }
}

//ul li
